{{> licenceInfo}}

package {{modelPackage}};

import javax.xml.bind.annotation.adapters.XmlAdapter;
import java.time.OffsetDateTime;
import java.time.LocalDateTime;
import java.time.ZoneId;
import java.time.format.DateTimeFormatter;
import java.time.ZoneOffset;

public class UTCDateTimeAdapter extends XmlAdapter<String, OffsetDateTime> {

	private static final DateTimeFormatter fmt = DateTimeFormatter
			.ofPattern("yyyy-MM-dd HH:mm:ss")
			.withZone(ZoneId.of("UTC"));

	@Override
	public OffsetDateTime unmarshal(String v) throws Exception {
		LocalDateTime dt = LocalDateTime.from(fmt.parse(v));
		return dt.atOffset(ZoneOffset.UTC);
	}

	@Override
	public String marshal(OffsetDateTime v) throws Exception {
		return fmt.format(v);
	}
}
