{{> licenceInfo}}

package {{invokerPackage}};

import javax.xml.bind.JAXBContext;
import javax.xml.bind.JAXBException;
import java.io.StringReader;
import java.lang.reflect.Type;

final class XML {
	@SuppressWarnings("unchecked")
	public <T> T deserialize(String respBody, Type returnType) {
		try {
			JAXBContext ctx = JAXBContext.newInstance(Class.forName(returnType.getTypeName()));
			return (T) ctx.createUnmarshaller().unmarshal(new StringReader(respBody));
		} catch (ClassNotFoundException | JAXBException e) {
			throw new RuntimeException(e);
		}
	}
}